*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(245, 233, 218);
    background-image: radial-gradient(circle,rgb(245, 233, 218) 30%, rgb(247, 207, 160) 100%)
}

h1 {
    font-size: 3em;
    text-align: center;
    font-style: oblique;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: solid 1px ;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
nav li {
    background-color: rgb(247, 226, 201) ;
    font-size: 2em;
    
}
form{
    margin-top: 50px;
    text-align: center;
}
.forma{
    font-size: 2em;
    margin-top: 20px;
}
#unos{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.4em;
}
#unos:hover {
    box-shadow: 15px 23px 26px 3px rgba(0,0,0,0.27)
}
button {
	box-shadow: 2px 2px 4px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:12px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:19px;
	padding:7px 20px;
	text-decoration:none;
	text-shadow:1px 1px 1px #e1e2ed;
    margin-bottom: 10px;
}
#btn:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.error{
    font-size: 1.5em;
    color: red;
}
.podaci{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 1px dotted gray;
    font-size: 1.7em;
    
}
.pacijent {
   margin-top: 10px;
   margin-bottom: 5px;
   font-weight: bold;
}
#vreme {
    font-size: 1.5em;
    
}