*{ 
    
    box-sizing: border-box;
}
@font-face{
    font-family: atcFont ;
    src: url(Font/TiroBangla-Regular.ttf);
}

.atc , .mkb10{
    font-size: 2rem;
   
}
.klasifikacija{
    margin-top: 30px;
    margin-left: 50px;
}
ul{
    list-style: none;
}
li.klas{
    font-size: large;
    font-weight: bold;
    
}

li{
    font-weight: normal;
    font-family: 'atcFont', Times, serif;
}
.mkb{
    font-size: large;
    margin-left: 50px;
    font-family: 'atcFont', Times, serif;
    

}


body{
	margin:0;
	padding:0;
	background: url(Images/pozadin.png) repeat 0 0;;
    background-size:contain ;
	-webkit-animation: 20s linear 0s normal none infinite animate;
	-moz-animation: 20s linear 0s normal none infinite animate;
	-ms-animation: 20s linear 0s normal none infinite animate;
	-o-animation: 20s linear 0s normal none infinite animate;
	animation: 20s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 

 

